@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Concesionaria Portal WEB</h1>
    <p>Favor loguearse aqui <a href="https://docs.microsoft.com/aspnet/core">-Login/a>.</p>
</div>
